/*
COLORS 
#6474E5
*/


.logo{
    width: 50px;
    height: 50px;
    outline: none;
}

.logo:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s all ease-in-out;
}

.link-sub{
    color: #6474E5 !important;
    text-align: right;
    font-weight: bold;
    margin-right: 30px !important;
    padding-top: 15px;
    border-bottom: 3px solid #fff;
    transition: 0.2s all ease-in-out;
    height: 50px;
}

.link-sub:hover {
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    border-bottom: 3px solid #6474E5;
}
  
.loginButton{
    background-color: #6474E5;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 5px;
    margin-right: 40px;
    transition: 0.2s all ease-in-out;
}

.loginButton:hover{
    transition: 0.2s all ease-in-out;
    background-color: white;
    border: 2px solid #6474E5;
    color: #6474E5;
}

