/*
COLORS 
Blue: #227C9D
Red: #FE6D73
Yellow: #FFCB77
White: #ECECEC
Green: #17C3B2
*/

.logo{
    font-size: 25px;
    font-weight: bold;
    color: #227C9D;
}

.logo:hover{
    cursor: pointer;
    color: #FC4A1A;
}

.link-sub{
    color: #227C9D !important;
    text-align: right;
    font-weight: bold;
    padding-right: 20px !important;
}

.link-sub:hover {
    cursor: pointer;
    color: #FC4A1A !important;
}
  