/* 
COLORS
#6474E5
*/

.my-container{
    background-color: #6474E5;
 }

.mainPage{
    padding-left: 5%;
    padding-right: 5%;
    height: 250px;
}

form{
    font-family: 'Lexend', sans-serif;

}
.background{
    padding-right: 100px;
    top: 175px;
}

.left-header{
    font-family: 'Heebo', sans-serif;
    font-size: 40px;
    text-align: left;
    color: white;
}

.background2{
    padding-top: 50px;
    padding-bottom: 25px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: white;
    top: 200px;
}

.left-body{
    font-family: 'Lexend', sans-serif;
    text-align: center;
    color: white;
    text-shadow: 5px;
}

.highlighter{
    color: #FE6D73;
}

.spacer{
    margin-top: 25px;
}
