<div class="card movieCard">

    <img class="card-img-top movieImage" [src]="movie.imageURL || defaultImage" alt="Card image cap">

    <div class="card-body">
        <h4 class="card-title">{{ movie.name || 'MOVIE NAME'}}</h4>
        <span class="badge badge-pill badge-primary" name="badge" *ngFor="let i of movie.genre">
            {{ i.controls.badge.value.toUpperCase() }}
        </span>
        <h6 class="card-subtitle mb-2 text-muted">{{ movie.genre }}</h6>
        <p class="card-text">
            {{ movie.desc || 'MOVIE DESCRIPTION'}}
        </p>


        <div class="btn-group" role="group" aria-label="Basic example" *ngIf="movie.displayButtons">
            <button type="button" class="btn btn-success btn-sm watchedButton">
                WATCHED
            </button>
            <button type="button" class="btn btn-dark btn-sm addButton">
                ADD TO LIST
            </button>
        </div>
        <!-- <i class="fa fas fa-plus-square fa-3x" aria-hidden="true"> </i>
        <i class="fa fa-info-circle fa-2x" aria-hidden="true"> </i> -->

    </div>
</div>