/* 
COLORS
#6474E5
*/


.my-container{
    background-color: #6474E5;
 }

form{
    font-family: 'Lexend', sans-serif;
}

.background{
    top: 200px;
    padding-right: 100px;
}

.left-header{
    font-family: 'Heebo', sans-serif;
    font-size: 40px;
    text-align: left;
    color: #fff;
}

.background2{
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    /* box-shadow: -5px -3px 10px 0px rgb(0 0 0 / 10%), -1px -1px 20px 0 rgb(0 0 0 / 19%); */
    top: 200px;
}

.left-body{
    font-family: 'Lexend', sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: 5px;
}

.highlighter{
    color: #fff;
}

.background:hover span{
    transition: text-shadow 0.5s;
    text-shadow: 2px 2px #5DA2D5;
    transition-timing-function: ease-in-out;
}

.spacer{
    margin-top: 25px;
}

.signupMessages{
    top: 175px;
    font-size: medium;
    margin: 0;
}