/* 
COLORS
#6474E5
*/

.my-container{
    background-color: #6474E5 !important;
 }

.row{
    padding-top: 40px;
}

.badgeContainer{
    display: flex;
    flex-direction: row;
}

.badgeDiv{
    padding-right: 5px !important;
    cursor: pointer;
}   

.badge{
    background-color: #6474E5;
}

textarea{
    height: 100px;
}

.submitButtons{
    margin-right: 20px;
}

.customCard{
    background-color: #fff;
    border-radius: 5px;
}

