<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="movieAddForm" class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label for="name">Movie Name</label>
                        <input type="text" class="form-control" name="name" formControlName="movieName">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="genre">Movie Genre</label>
                        <input type="text" (keyup.enter)="addBadge($event.target.value)" class="form-control"
                            name="genre" formControlName="movieGenre"
                            autocomplete="off">
                        <div class="badgeContainer" formArrayName="movieBadge">
                            <div class="badgeDiv" *ngFor="let b of controls; let i = index" [formGroupName]="i">
                                <span class="badge badge-pill badge-primary" name="badge" (click)="removeBadge(i)"> {{b.value.badge.toUpperCase()}} </span>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-md-4">
            <!-- <movieCard></movieCard> -->
        </div>
    </div>
</div>