/*
COLORS 
Blue: #227C9D
Red: #FE6D73
Yellow: #FFCB77
White: #ECECEC
Green: #17C3B2
*/

.my-container{
    background-color: #ECECEC;
}

h3{
    font-family: 'Heebo', sans-serif;
    text-align: center;
}

h5{
    font-family: 'Lexend', sans-serif;
    text-align: center;
}