<div class="my-container">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-md-12" style="text-align: center;"> 
                    IMAGE
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    TEXT HEADER
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    TEXT BODY
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button>
                        GET STARTED HERE
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>