/*
COLORS 
Blue: #227C9D
Red: #FE6D73
Yellow: #FFCB77
White: #ECECEC
Green: #17C3B2
*/

.my-container{
    background-color: #ECECEC;
}

.welcomePage{
    width: auto;
    height: 600px;
    background-color: #c2c1c1 !important;
    padding-top: 200px;
}

h1, h2, h3, h5{
    color:#227C9D;
    padding-left: 20px;
    font-family: 'Lexend', sans-serif;
    text-align: left;
}

h3{
    color:#FE6D73;
    padding-left: 20px;
    font-family: 'Lexend', sans-serif;
    text-align: left;
}

.welcomeButton{
    padding-left: 35px;
}