<div class="my-container">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-md-12" style="text-align: center;"> 
                    <img src="assets/images/welcomeImage.jpg" class="img-fluid" style="width: 500px; height: 500px;" alt="welcomeImage">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>WANTED A WAY TO ORGANIZE ALL YOUR MOVIES AT ONE PLACE? </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>NO WORRIES WE GOT YOU COVERED </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5>TEST</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="text-align: center;">
                    <button class="btn btn-primary customButton">
                        GET STARTED HERE
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>