<div class="my-container">
    <div class="row">
        <div class="col welcomePage align-items-center">            
            <div class="row">
                <div class="col-md-12">
                    <h1>KEEPING TRACK OF YOUR FAVOURITE MOVIES HAS NEVER BEEN EASIER! </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Save all the movies you watched.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 welcomeButton">
                    <button [routerLink]="'/signup'" class="btn btn-primary btn-lg customButton">
                        GET STARTED HERE
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>