
<div class="my-container">
    <div class="container mainPage">
        <div class="row">
            <div class="col">
    
                <div class="row align-items-center ">
                    <div class="col-md-8 background">
                        <div class="d-flex">
                            <h1 class="left-header">SAVE ALL YOUR <span class="highlighter"><u><i>IMPORTANT</i></u></span> MOVIES IN ONE PLACE</h1>
                        </div>
                        <div class="d-flex left-body">
                            Keep track of all the movies you want to watch.
                        </div>
                        <div>
                            <img [src]="piggyImage" alt="piggySave"  width=250/>
                        </div>
                    </div>
                    <div class="col-md-4 background2">
                        <form class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="email">EMAIL</label>
                                    <input type="email" class="form-control" name="email">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="password">PASSWORD</label>
                                    <input type="password" class="form-control" name="password">
                                </div>
                            </div>
                            <div class="row justify-content-end spacer">
                                <div class="col">
                                    <button class="btn btn-primary btn-block customButton" type="submit">SIGN UP</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</div>