<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let movie of movieList">
            <div class="card movieCard text-center">
                <img class="card-img-top movieImage" [src]="movie.movieLink"
                    alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{ movie.movieName }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{ movie.movieGenre }}</h6>
                    <p class="card-text">
                        Some quick example text to build on the card title
                        and make up the bulk of the card's content.
                    </p>
                    <div class="btn-group" role="group" aria-label="Basic example">

                    <button type="button" class="btn btn-success btn-sm watchedButton">
                        WATCHED
                    </button>
                    <button type="button" class="btn btn-dark btn-sm addButton">
                        ADD TO LIST
                    </button>
                    </div>
                    <!-- <i class="fa fas fa-plus-square fa-3x" aria-hidden="true"> </i>
                    <i class="fa fa-info-circle fa-2x" aria-hidden="true"> </i> -->
                    
                </div>
            </div>
        </div>
    </div>
</div>